<section>
	<img src="<%= image %>" alt="<%= image_alt %>">
	<p>
		<%= rubrique %>
	</p>
	<h3>
		<%= title %>
	</h3>
	<p>
		<%= desc %>
	</p>
	<p>
		<%= texte %>
	</p>
	<p>
		<%= signature %>
	</p>
	<p>
		<%= fonction %>
	</p>
</section>

<%= "test d appel du json : " + images %>
